---
image_sliders:
  - et_gallery
image_sliders_load_all: true
---
{% include base.html %}
<!DOCTYPE html>
<html lang="en">
<!--
Citation reference for use by http://CiteAs.org
http://dx.doi.org/10.1088/0264-9381/29/11/115001
-->
<head>
  <link href="{{ base }}/styles/etk.css" rel="stylesheet" type="text/css">
  <link href="{{ base }}/css/etk.css" rel="stylesheet" type="text/css">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head.html %}
  <title>The Einstein Toolkit</title>
</head>
<body id="index">
  {% include navbar.html %}
  <div class="container">
    <div class="row fix">
      <div class="col-xs-12">
        <h1>The Einstein Toolkit</h1>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-lg-offset-0">
        {% include slider.html selector="et_gallery" %}
        <a class="btn btn-info" href="gallery.html" role="button">Gallery</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-lg-offset-0">
        <div>
          <h2 style="text-align: center;">New Einstein Toolkit Release</h2>
          <p>There is a new Einstein Toolkit release, the
          <a href="https://en.wikipedia.org/wiki/C%C3%A9cile_DeWitt-Morette">
          "DeWitt-Morette" Release.
          </a>
          Please check the
          <a href="http://einsteintoolkit.org/about/releases/ET_2020_11_announcement.html">
          release notes
          </a>
          for details.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-lg-offset-0">
        <div>
          <h2 style="text-align: center;">Einstein Toolkit at ICERM Fall 2020, October 15th</h2>
          <p>The Einstein Toolkit was featured at the virtual ICERM 2020 Fall
          workshop on <a
          href="https://icerm.brown.edu/programs/sp-f20/">Advances in
          Computational Relativity</a>.
          <ul>
          <li> <a href="https://icerm.brown.edu/video_archive/?play=2356"><em>The Einstein Toolkit</em></a> (Erik Schnetter). </li>
          <li> <a href="https://icerm.brown.edu/video_archive/?play=2394"><em>NRPy+</em></a> (Zach Etienne). NRPy+ is an
          open-source Python code that converts expressions written in
          Einstein-like notation into highly optimized C/C++ code, using the
          powerful computer algebra package SymPy as a backend. </li>
          <li> <a href="https://icerm.brown.edu/video_archive/?play=2395"><em>Writing your own Einstein Toolkit thorns</em></a>
          (Steve Brandt). This tutorial will show you how to extend the
          Einstein Toolkit. </li>
          </ul>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-lg-offset-0">
        <div>
          <h2 style="text-align: center;">Weekly telecon</h2><br>
          <p>Join us at the weekly Einstein Toolkit
          <a href="https://docs.einsteintoolkit.org/et-docs/Main_Page#Weekly_Users_Call">phone call</a> at
          9:00 am US central time on Thursdays.
          </p>
        </div>
        <div>
          <h2 style="text-align: center;">About</h2>The Einstein Toolkit is a <a href="members.html">community</a>-driven software platform of core computational tools to advance and support research in
          relativistic astrophysics and gravitational physics.<br>
          <a class="btn btn-info" href="about.html" role="button">About</a>
          <a class="btn btn-info" href="citation.html" role="button">How to cite</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-lg-offset-0">
        <div>
          <h2 style="text-align: center;">Download</h2>We provide a convenient method to get all of the Einstein Toolkit with just a few commands, and explain the whole process.<br>
          <a class="btn btn-warning" href="download.html" role="button">Download</a>
          <a class="btn btn-info" href="documentation/new-user-tutorial.html" role="button">Try it now!</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-lg-offset-0">
        <div>
          <h2 style="text-align: center;">Documentation</h2>A lot of the documentation within the Einstein Toolkit is generated from comments in the source code, and more can be found
          on the Einstein Toolkit Wiki or other documents. We provide links to guides, tutorials and references.<br>
          <a class="btn btn-info" href="documentation.html" role="button">Documentation</a>
          <a class="btn btn-info" href="https://docs.einsteintoolkit.org" role="button">Wiki</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-lg-offset-0">
        <div>
          <h2 style="text-align: center;">Contribute</h2>The Einstein Toolkit would not exist without numerious contributions from its community. It is easy to learn how you can contribute as well.</br>
          <a class="btn btn-info" href="contribute.html" role="button">Contribute</a>
          <a class="btn btn-warning" href="https://bitbucket.org/einsteintoolkit/tickets/issues/new" role="button">Report a bug</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% include footer.html %}
      </div>
    </div>
  </div>
{% include postbody.html %}
</body>
</html>
